.doc-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  height: fit-content;
  background: #fff;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}
.doc-item h3 {
  margin-bottom: 1rem;
  color: black;
}
.doc-item p {
  padding-bottom: 0.8rem;
  color: black;
}
.doc-item .btn {
  margin-top: 0.8rem;
  background: #ff6048;
  border: 2px solid var(--bittersweet);
  color: var(--bittersweet);
}
