@import "nav";
@import "allDocs";
@import "newDoc";
@import "docItem";
/*
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");*/

body {
  background-color: rgb(95, 92, 92);
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  //height: 600px;
  color: rgb(250, 246, 246);
  justify-content: center;
  text-align: center;
  margin: 15px;
  font-size: 15px;
  border-radius: 10px;
}
.brand-title::content {
  cursor: pointer;
}
.brand-title:hover {
  color: rgb(255, 145, 0);
}

.haeder-text {
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 20px;
  margin-left: 20px;
}
.img {
  margin: auto;
}

.main-content {
  height: 80vh;
  color: rgb(231, 231, 240);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15px;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
